body {
    background-image: url('green-leave-.jpg');
    margin-left: 3% ;
    font-family: 'Lato', sans-serif;
}
.H{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.container {
    display: grid;              /* รูปแบบตาราง */             
    margin: 0;
    width: 100vw;
    height: 700px;
    gap: 30px;                  /*ความห่าง*/
    box-sizing: border-box;
    grid-template-columns: 30% 5% 60% 10%;   /* สร้าง columns 4 อัน ซึ่งขนาดเรียงตามจากซ้ายไปขวา */    
    grid-template-rows: repeat(4, 30%);       /* สร้าง row 5 อัน ซึ่งขนาดเท่ากันหมด 15% */    
}

.container-left {
    grid-column: 1 / 1;     /*Start_col = 1 , End_col = 1*/
    grid-row: 1 / 4;        /*Start_row = 1 , End_row = 4*/
}

.container-right {
    margin:0.05px;
    grid-column: 3 / 3;     /*Start_col = 3 , End_col = 3*/
    grid-row: 1 / 4;        /*Start_row = 1 , End_row = 6*/
    margin-top: 5%;
    text-align: center;
}

.container-left-bottom {
    width: 300px;      /*กำหนดเพราะ scrollbar จะไม่สวย*/
    grid-column: 1 / 1;     /*Start_col = 1 , End_col = 1*/
    grid-row: 2 / 4;        /*Start_row = 1 , End_row = 6*/
    overflow-x: scroll;    /* scrollbar */
}

.container-left-top {
    grid-column: 1 / 1;     /*Start_col = 1 , End_col = 1*/
    grid-row: 1 / 2;        /*Start_row = 1 , End_row = 6*/
}

.box {
    display: inline-block;
    text-align: center;
    margin: 0.5px;
    border: 1px  black;
}

.box img{
    width: 90px;
    height: 90px;
    
}

#image-list img {
    width: 65px;
    height: 65px;
    border: 1px black solid;
    /* ชิดทางด้านขว้า */
}

.dropdown {
    padding-left: 3%;
    margin-top: 2%;
    width: 70%;
    height: 18%;
    border-radius: 9px;
    border: 1px gainsboro solid;
    cursor: pointer;
    font-size:18px;
}

.dropdown:focus,
.dropdown:hover {
    outline: 0;
    border: 2px gray solid;
}

.dropdown option {
    background: #ffffff;
}

button {
    margin-top: 3%;
    width: 20%;
    height: 15%;
    border-radius: 9px;
}